PORT=3000
NODE_ENV=development
LOG_LEVEL=info
API_TIMEOUT_MS=10000
WEBSOCKET_TIMEOUT_MS=30000
DEFAULT_SCAN_INTERVAL_MS=5000
MIN_SPREAD_THRESHOLD=0.1

ENABLE_BINANCE=1
ENABLE_BYBIT=1
ENABLE_OKX=1
ENABLE_BITGET=1
ENABLE_KUCOIN=1
ENABLE_GATE=1
ENABLE_BINGX=1
ENABLE_MEXC=1
ENABLE_HTX=1
ENABLE_HYPERLIQUID=1
ENABLE_ASTER=1
ENABLE_OURBIT=1
ENABLE_BITMART=1
ENABLE_XT=1
ENABLE_JU=1
ENABLE_KCEX=1
ENABLE_LEVEX=1
ENABLE_EDGEX=1
